body{
	margin: 0;
	padding: 0;
	front-family: sans-serif;
	background-image: url(../bg.jpg);
	background-size: cover;
	
	}
	 .Donor-information{
 	width:280px;
 	position: absolute;
 	top:50%; 	
 	left: 50%;
    transform:translate(-50%,-50%);
 	color: red;
 
 }
.Donor-information{
 	float:left;
 	front-size:40px;
 	border-bottom: 6px;
 	margin-bottom:50px;
 	padding: 13px ;
 }